name: frontend_flutter_devmovel
description: "Projeto Frontend em flutter"

publish_to: 'none'


version: 1.0.0+1

environment:
  sdk: '>=3.3.2 <4.0.0'


dependencies:
  flutter:
    sdk: flutter
  http: ^0.13.3

  cupertino_icons: ^1.0.6
  jwt_decoder: ^2.0.1
  crypto: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^3.0.0


flutter:
  uses-material-design: true
